body{
	font-family: 'Unica One', cursive;
}
/*PÁGINA lOGIN-MUSIC*/
.fondo-login{
	background-image: url(../img/img-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -20vh;
}
.frase h4{
	position: relative;
    color: white;
    padding: 4vh;
    font-size: 2.7rem;
    background: rgba(0,0,0,0.5);
    top: 15vh;
}
/*PÁGINA BUSCAR-VOZ*/
.fondo-voz{
	background-image: url(../img/img-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.mic{
	color: white;
}
.mic i{
	font-size: 15rem;
}
.mic h4{
	background: rgba(0,0,0,0.5); 
    padding: 2vh;
}
.mic p{
	position: relative;
	top: 7vh;
}
.logo img{
	height: 25vh;
}

/*PÁGINA RESULTADO-BÚSQUEDA*/
.fondo-resultado{
	background-image: url(../img/img-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.album-music img{
	height: 45vh;
	border: solid white 1vh;
}
.resultado i{
	color: white;
	font-size: 7rem;
	padding-top: 8vh;
}
.sonido1, .sonido2, .sonido3{
	height: 21vh;
	width: 100%;
	background: rgba(0,0,0,0.5); 
}